@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');
h2{
    font-family: 'Mulish',sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #0a2ff1;
}
h1{
    font-family: 'Mulish',sans-serif;
    font-weight: 900;
    font-size: 80px;
    color: #0a2ff1
}
p{
    font-family: 'Mulish',sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #04146c;  
}
main{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 400px 400px 400px;
    grid-row: 300px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.izquierda{
    grid-row: 1/3;
}
.abajo{
    grid-column: 2/4;
}